* {
    padding:0;
    margin:0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:burlywood;
}
.container{
    background-color: aliceblue;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width:70vh;
}

form{
    margin:1rem 0 1rem ;
}
form select,button,input{
    width:100%;
    border:none;
    outline:none;
    border-radius: 0.75rem;

}
form input{
    border:1px solid lightgray;
    font-size:1rem;
    padding-left: 0.5rem;
    height: 2rem;
}
form select{
    background-color: aliceblue;
    font-size: 1rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    margin-top:2rem;
    align-items: center;
}
.select-container img{
    max-width:2rem;
}
.select-container{
    display: flex;
    border:1px solid lightgray;
    border-radius: 0.5rem;
    align-items: center;
    padding: 0.25rem;
    
}
.dropdown i{
   font-size: 2rem;
   margin-top: 1rem;
}
.msg{
    margin:2rem 0 2rem 0;
}
form .btn{
    height: 2.5rem;
    background-color: rgb(102, 165, 254);
    font-size: 1.5rem;
    cursor: pointer;
}